* {
				font-family: Arial, Verdana, sans-serif;
				color: #0b2039;
				text-align: center;}

			body {
				width: 90%;
				margin: 0 auto;
                background-image:url("https://rb.gy/jjqs6")}

			#content {
				overflow: auto;}

			#nav, #feature, #footer {
			    margin: 1%;}
            
			.column1, .column2, .column3 {
				width: 31.3%;
				float: left;
				margin: 1%;}

            .column1{ 
                 background-color: #ffdb58;}

            .column2{ 
                 background-color: #fff8e7;}

            .column3{ 
                 background-color:  #ffdb58;
                 margin-right: 0%;}

			li {
				display: inline;
				padding: 0.5em;}

			#nav, #footer {
				background-color: #c30b4e; 
				padding: 0.5em 0;}

			#feature {
				 background-image: url("https://rb.gy/g8i3o");
                 background-size:contain;
                 background-position: right;
                 background-repeat: no-repeat;
                 }

            #feature { 
              padding:1px;
              background-color: #c0d6e4;

            
