  body {
    height: 200px;
    background: beige;
  }
  .dot {
    height: 8px;
    width: 8px;
    border-radius: 4px;  
    background: blue;
    position: absolute;
  }
  #clearbutton {
    display: block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
  }
  #clearbutton:hover {
    background-color: #d32f2f;
  }
