body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: lightblue;
}

.slideshow-container {
  position: relative;
  width: 60%;
  max-width: 60%;
  margin: 60px auto -90px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.slide {
  display: none;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide-description {a
  position: absolute;
  bottom: 0;
  left: 0;
  width: 96%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  transform: translateY(20%);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 125px; 
}

.prev-btn,
.next-btn {
  font-size: 16px; 
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px; 
  margin: 0 10px; 
  cursor: pointer;
  z-index: 2;
}

footer {
  background-color: lightyellow;
  padding: 30px;
  text-align: center;
  flex-shrink: 0;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .slideshow-container {
    width: 80%;
    max-width: 80%;
  }
}

@media (min-width: 100px) {
  .slideshow-container {
    max-width: 400px;
  }
}
