body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: lightblue;
}

.slideshow-container {
  position: relative;
  width: 50%;
  max-width: 50%;
  margin: 60px auto 60px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
}

.slide {
  display: none;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 97.7%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  transform: translateY(100%);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -40px; 
  
}

.prev-btn,
.next-btn {
  font-size: 16px; 
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px; 
  margin: 0 10px; 
  cursor: pointer;
  z-index: 2;
}

footer {
  background-color: lightyellow;
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}



@media (max-width: 768px) {
  .slideshow-container {
    width: 90%;
    max-width: 90%;
  }
}
