.row{
 position:relative;
 margin-left:15%;
 margin-right:10%;
}

.white{
 border: 2px solid black;
 width: 11%;
 height: 70px;
 background-color:white;
 float:left;
}
 
.black{
 border: 2px solid black;
 width: 11%;
 height: 70px;
 background-color:#787878;
 float:left;
}

#footer {
  
 position:fixed;
 bottom:0px;
 left:0px; 
 padding:5px;
 margin:0px;
 width:100%;
 background-color:lightyellow;
 text-align:center; 
 
}

body {
 background-image:url("https://rb.gy/ubtj8");
}

#container {
 margin-top:5%;
 margin-left:10%;
 margin-right:10%;
 margin-bottom:13%;
}

#title {
 position:fixed;
 top:0px;
 left:0px; 
 padding:10px;
 margin:0px;
 width:100%;
 background-color:lightyellow;
 text-align:center; 
  z-index:10;

font-family: 'JustLettersMedium'; 
 font-weight: bold; 
 font-style: normal; 
 font-size:36px;}

